.alpha-form-field {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    z-index: 0;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translatey(40px);
}

.alpha-form-field.active {
    opacity: 1;
    visibility: visible;
    transform: translatey(0);
    z-index: 1;
    display: flex;
    height: auto
}

.alpha-form-next {
    display: flex;
    align-items: center;
}

.alpha-form-button-inner svg {
    transition: all 0.2s;
}

.alpha-form-button-inner {
    display: flex;
    align-items: center;
}

.elementor-widget-alpha-progress {
    width: 100%;
    display: block;
}

.alpha-form-progress-wrapper {
    display: flex;
    flex-direction: column-reverse;
}

.alpha-f-n {
    display: flex;
    flex-direction: column;
}

.widget-alpha-form-n input:not(.acceptance) {
    display: block;
    width: 100%;
    outline: none;
}

.widget-alpha-form-n input:focus {
    outline: none;
}

.alpha-inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.alpha-form-titulo,
.alpha-form-description,
.alpha-form-description p {
    margin: 0 !important;

}

.alpha-option img.alpha-option-icon {
    max-width: 45px;
}

.alpha-form-toast {
    position: fixed;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    background: #2ecc71;
    color: #fff;
    padding: 12px 24px;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    font-size: 14px;
    pointer-events: none;
    display: none; */
}

.alpha-form-toast.visible {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    display: block;
}